[buildout]
extends = virtualenv.cfg
extensions += mr.developer
parts += tox
auto-checkout += tox

[sources]
tox = hg https://bitbucket.org/hpk42/tox

[tox]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds = ${virtualenv:output} ${:location}
       [ -f ${:location}/bin/tox ] || (cd ${buildout:sources-dir}/tox && ${:location}/bin/python setup.py develop)
       ln -sf ${:location}/bin/tox ${buildout:bin-directory}/tox
uninstall_cmds = rm -f ${buildout:bin-directory}/tox
                 rm -rf ${:location}

location = ${buildout:parts-directory}/tox
